@model PaginatedList<Category>

@{
    ViewData["Title"] = "Home";
}

@*@Html.Partial("_Carousel")*@



    <div class="row">
        @foreach (var category in Model)
        {
            var count = 0;
            if (category.Books.Count != 0)
            {
                <div class="col-md-12"><a href="#" style="font-size: 25px;text-decoration: none;">@category.CategoryName></a></div>
            }

            <hr />

            foreach (var book in category.Books)
            {
                if (count < 4)
                {
                    @Html.Partial("_DisplayBook", book)
                }

                count++;
            }
        }
    </div>
