<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
    <connectionStrings>
    <add name="JustBlogContext" connectionString="Data Source=SVT00007597\SQLEXPRESS;Initial Catalog=JustBlogDB;User ID=sa; Password=fresher@12345" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
